* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

body {
    background: linear-gradient(#1372a5 0%, #042532 33.33%, #041f32 66.67%, #010b0e 100%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


body::before {
    background-image: url("img/code.png");
    background-repeat: no-repeat;
    background-position: right;
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.4;
}

.container {
    width: 1200px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 24px;
    border: 1px solid #00e5ff;
    box-shadow: 4px 4px 20px 0px rgba(1, 8, 14, 0.15);
    background-image: url("img/Ruido.png");
    background-size: 100% 100%;
    position: relative;
}


.container__contenido {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
}

.container__informaciones {
    flex: 1;
    padding: 3rem;
}

.container__boton {
    border-radius: 16px;
    background: #000000;
    padding: 16px 24px;
    width: 100%;
    font-size: 24px;
    font-weight: 700;
    border: none;
    border: 2px solid transparent;
} 

/* Boton con efecto*/

.containe__boton::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #00e5ff;
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
  }

  .container__boton:not(:disabled):hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 30px #00e5ff;

  }
  
  .container__boton:not(:disabled):hover {
    letter-spacing: .9px;
    color: #00e5ff;
    box-shadow: 0 0 30px #00e5ff;
    text-shadow: 0 0 30px #00e5ff;
    transform: scale(1.09); 
  }



.container__boton:disabled {
    background: #898989;
}

.container__texto {
    margin: 16px 0 16px 0;
}

.container__texto-azul {
    color: #be18e8;
}

.container__input {
    margin-bottom: 20px;
    width: 100%;
    height: 72px;
    border-radius: 16px;
    background-color: #FFF;
    border: none;
    color: #008f9f;
    padding: 2rem;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
}

.container__botones {
    display: flex;
    gap: 2em;
}

h1 {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 69px;
    padding-bottom: 3rem;
}

p,
button {
    font-family: 'Inter', sans-serif;
}

.texto__parrafo {
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 40px;
}
